{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="form-add">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form, {'attr': {'role': 'form', 'enctype': 'multipart/form-data'}}) }}
            <div class="form-group">
                {{ form_label(form.title, 'Title') }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter title' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_errors(form.slug) }}
                {{ form_widget(form.slug, {'attr': {'class': 'form-control' }}) }}
            </div>
        <div class="form-group">
            {{ form_row(form.thumbnail) }}
        </div>
        <div class="form-group">
            {{ form_row(form.categories) }}
        </div>
            <div class="form-group">
                {{ form_widget(form.submit, { 'label': 'Add' }) }}
            </div>
            <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
            {{ form_end(form) }}

    </div>
{% endblock %}
